.icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.bt{
    float: right;
    margin-bottom: 2rem;
}
.btn{
    margin-right: 5px;
}
.search{
    margin-right: 5px;
    width: 300px;
    height: 34px;
}

.form-group>div {
    margin-bottom: 20px;
  }
  
  .fixText{
    width: 100%; 
    height: 150px;
    resize: none;
  }

  .col-sm-3{
      margin: 0 !important;
      padding: 0 !important;
  }

  .modal-footer{
      margin-top: -25px;
      text-align: center;
  }

  .modal-title{
    font-weight: 700;
    text-align: center;
  }

  #btnAdd{
      text-align: center;
  }