<h2>
  Client Management
</h2>

<div class="bt">
  <input class="search" type="text" value="">
  <button type="button" class="btn btn-primary">Search</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Client
  </button>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Add Client</h3>
      </div>
      <div class="modal-body">

        <form action="" method="POST" class="form-horizontal" role="form">

          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>Role</label>
              </div>
              <div class="col-sm-9">
                <select name="" class="form-control">
                  <option value="">root</option>
                  <option value="">admin</option>
                  <option value="">manager</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>Restaurant Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="" class="form-control" value="" required="required">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>Address</label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="" class="form-control" value="" required="required">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>QR Code</label>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-primary">Generate QR Code</button>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>Phone number</label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="" class="form-control" value="" required="required">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-3">
                <label>Description</label>
              </div>
              <div class="col-sm-9">
                <textarea name="" class="fixText form-control"></textarea>
              </div>
            </div>

          </div>
          <div id="btnAdd">
            <button type="submit"  class="btn btn-primary">Add Client</button>
          </div>

        </form>

      </div>

    </div>

  </div>
</div>







<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th style="width: 20%;">Address</th>
      <th>QR Code</th>
      <th>Phone number</th>
      <th style="width: 35%;">Description</th>
      <th style="width: 8%;">Modify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0001</td>
      <td>Restaurant 0001</td>
      <td>VPellentesque feugiat tortor sed nunc ornare porta. Aenean scelerisque consequat fermentum.</td>
      <td>Res001</td>
      <td>0123456678</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in eleifend sapien, interdum pharetra lorem. Duis eu
        rhoncus mi, quis pellentesque quam. Vivamus semper mi quis eleifend suscipit. Suspendisse id ultrices leo. Quisque
        congue felis vitae ex hendrerit ultrices. Pellentesque bibendum, sapien vel euismod maximus, ex nunc facilisis lectus,
        a volutpat nibh risus id lacus. Maecenas volutpat bibendum maximus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/edit-hover.png">
        </a>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Restaurant 0001</td>
      <td>Viet Nam</td>
      <td>Res001</td>
      <td>0123456678</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in eleifend sapien, interdum pharetra lorem. Duis eu
        rhoncus mi, quis pellentesque quam. Vivamus semper mi quis eleifend suscipit. Suspendisse id ultrices leo. Quisque
        congue felis vitae ex hendrerit ultrices. Pellentesque bibendum, sapien vel euismod maximus, ex nunc facilisis lectus,
        a volutpat nibh risus id lacus. Maecenas volutpat bibendum maximus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/edit-hover.png">
        </a>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Restaurant 0001</td>
      <td>Viet Nam</td>
      <td>Res001</td>
      <td>0123456678</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in eleifend sapien, interdum pharetra lorem. Duis eu
        rhoncus mi, quis pellentesque quam. Vivamus semper mi quis eleifend suscipit. Suspendisse id ultrices leo. Quisque
        congue felis vitae ex hendrerit ultrices. Pellentesque bibendum, sapien vel euismod maximus, ex nunc facilisis lectus,
        a volutpat nibh risus id lacus. Maecenas volutpat bibendum maximus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/edit-hover.png">
        </a>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Restaurant 0001</td>
      <td>Viet Nam</td>
      <td>Res001</td>
      <td>0123456678</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in eleifend sapien, interdum pharetra lorem. Duis eu
        rhoncus mi, quis pellentesque quam. Vivamus semper mi quis eleifend suscipit. Suspendisse id ultrices leo. Quisque
        congue felis vitae ex hendrerit ultrices. Pellentesque bibendum, sapien vel euismod maximus, ex nunc facilisis lectus,
        a volutpat nibh risus id lacus. Maecenas volutpat bibendum maximus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/edit-hover.png">
        </a>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Restaurant 0001</td>
      <td>Viet Nam</td>
      <td>Res001</td>
      <td>0123456678</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in eleifend sapien, interdum pharetra lorem. Duis eu
        rhoncus mi, quis pellentesque quam. Vivamus semper mi quis eleifend suscipit. Suspendisse id ultrices leo. Quisque
        congue felis vitae ex hendrerit ultrices. Pellentesque bibendum, sapien vel euismod maximus, ex nunc facilisis lectus,
        a volutpat nibh risus id lacus. Maecenas volutpat bibendum maximus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/edit-hover.png">
        </a>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
  </tbody>
</table>
