<h2>User Management</h2>

<div class="bt">
  <input class="search" type="text" value="">
  <button type="button" class="btn btn-primary">Search</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>User Name</th>
      <th>Create Date</th>
      <th>Change Date</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Sex</th>
      <th>Status</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0001</td>
      <td>root_admin</td>
      <td>01/01/2018</td>
      <td>27/06/2018</td>
      <td>root_ad@yopmail.com</td>
      <td>0123456678</td>
      <td>Male</td>
      <td>enable</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0002</td>
      <td>admin</td>
      <td>02/01/2018</td>
      <td>27/06/2018</td>
      <td>ad@yopmail.com</td>
      <td>0123567899</td>
      <td>Female</td>
      <td>enable</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0003</td>
      <td>admin_res0056</td>
      <td>02/06/2018</td>
      <td>27/06/2018</td>
      <td>ad_res0056@yopmail.com</td>
      <td>09898989899</td>
      <td>Male</td>
      <td>enable</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0749</td>
      <td>admin_res0655</td>
      <td>12/06/2018</td>
      <td>27/06/2018</td>
      <td>ad_res00655@yopmail.com</td>
      <td>099799799</td>
      <td>Female</td>
      <td>enable</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>0456</td>
      <td>admin_res0223</td>
      <td>12/05/2018</td>
      <td>27/06/2018</td>
      <td>ad_res00223@yopmail.com</td>
      <td>09979444432</td>
      <td>Male</td>
      <td>disable</td>
      <td>
        <a href="#">
          <img class="icon" src="assets/icon/delete-hover.png">
        </a>
      </td>
    </tr>
  </tbody>
</table>
