.icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.bt{
    float: right;
    margin-bottom: 2rem;
}
.btn{
    margin-right: 5px;
}
.search{
    margin-right: 5px;
    width: 300px;
    height: 34px;
}