<form action="" method="POST" class="form-horizontal" role="form">
  <div class="form-group">
    <h2>Add Client</h2>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>Role</label>
      </div>
      <div class="col-sm-2">
        <select name="" class="form-control">
          <option value="">root</option>
          <option value="">admin</option>
          <option value="">manager</option>
        </select>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>Restaurant Name</label>
      </div>
      <div class="col-sm-10">
        <input type="text" name="" class="form-control" value="">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>Address</label>
      </div>
      <div class="col-sm-10">
        <input type="text" name="" class="form-control" value="">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>QR Code</label>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Generate QR Code</button>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>Phone number</label>
      </div>
      <div class="col-sm-10">
        <input type="text" name="" class="form-control" value="">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label>Description</label>
      </div>
      <div class="col-sm-10">
        <textarea name="" class="fixText" ></textarea>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;" class="col-sm-12">
      
      <button type="submit" class="btn btn-primary">Add Client</button>
      
    </div>

  </div>
</form>
