.form-group>div {
  margin-bottom: 20px;
}

.fixText{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  height: 200px;
}

.css-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}