<div class="nav-menu">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
        <a  routerLink="/user" >User Management</a>
    </li>
    <li routerLinkActive="active">
      <a  routerLink="/client"  >Client Management</a>
    </li>
  </ul>
</div>
