.nav-menu {
  width: 200px;
  height: 100%;
  position: fixed;
  display: block;
  border-width: 0;
  background:#e67e22;
}

.nav-menu ul {
  font-size: .9em;
  list-style: none;
  padding: 0px;
  margin: 0;
}

.nav-menu a {
  font: bold 13px Verdana;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  position: relative;
  color: white;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.nav-menu a:hover{
    background: #d35400;
    color: white;
    text-decoration: none;
}

.nav-active{
    background: #16a085;
}
.active{
  background: #16a085;
  text-decoration: none;
}
.nav-active a:hover{
    background: #d35400;
    color: white;
    text-decoration: none;
}