<app-nav-bar></app-nav-bar>
<div class="con">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <app-nav></app-nav>
  </div>

  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <router-outlet></router-outlet>
    <!-- <app-user-manager></app-user-manager>
    <app-client-manager></app-client-manager>
    <app-add-client></app-add-client> -->
  </div>

</div>
